<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <link rel='stylesheet' href='/css/style.css'>
    <script src="/js/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.js" type="text/javascript"></script>
    <!--For timer--><script> var logoutPrefix = "/admin"; </script> 
	<script src="/js/timer.js" type="text/javascript"></script>
  </head>
  <body>
    <nav class="navbar navbar-default"  style="margin-bottom:0" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <div class="collapse navbar-collapse" id="Navbar">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/admin" title="Home" style="font-size:160%;"><span class="glyphicon glyphicon-home"></span></a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right" style="margin-right:0%">
          <li><a href="/admin/logout" id="logout"  title="Logout" style="border-radius:1em"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a></li>
        </ul>
      </div>
    </nav>
    
    
    <style>
      .nav-pills > li.active > a,
      .nav-pills > li.active > a:hover,
      .nav-pills > li > a:hover,
      .nav-pills > li.active > a:focus {
        color: white;
        background-color: orange;
      }
    </style>
    
    <div class="row">
      
      <div class="col-lg-2" style="background:#162f39;height:100vh">
        <!--Options on the left side of the webpage-->
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
          <li><a data-toggle="tab" href="#add">Add</a></li>
          <li><a data-toggle="tab" href="#delete">Delete</a></li>
          <li><a data-toggle="tab" href="#associate">Associate Employee</a></li>
          <li><a data-toggle="tab" href="#disassociate">Disassociate Employee</a></li>
          <li><a data-toggle="tab" href="#users">Add/Remove Users</a></li>
          <li><a href="/reports">Reports</a></li>
        </ul>
        
      </div>
      
      <div class="col-lg-9">
        
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active" style="font-weight:bold"><h1 style="font-weight:bold;font-size:4em">Welcome Admin!</h1></div>
          
          <!--ADD TAB-->
          <div id="add" class="tab-pane fade">
            <div class="row">
            <div class="col-lg-3" style="background:#2b5b6e;height:100vh">
                <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a data-toggle="tab" href="#aS" class="white">Add Skill</a></li>
                  <li><a data-toggle="tab" href="#aCert" class="white">Add Certificate</a></li>
                  <li><a data-toggle="tab" href="#aCli" class="white">Add Client</a></li>
                </ul>
              </div> 
            
              <div class="col-lg-9">
                <div class="tab-content">
                
            <!--ADD SKILL-->
            <div id="aS" class="tab-pane fade in active" style="margin-top:1em">
              
              <div class="row row-cen">
              
              <!--Add skill form (submitted using ajax request)-->
              <div class="col-lg-6 col-cen">
                <legend>Add Skill</legend>
                
                <fieldset style="color:blue">Note: The contents are case sensitive</fieldset><br>
                
                <fieldset>
                  <label style="font-size:130%;">Role:</label><br>
                  <input class="form-control" id="role" name="role" placeholder="Enter the role (Ex: Developer)" required>
                </fieldset><br>
                
                <fieldset>
                  <label style="font-size:130%;">Skill Name:</label><br>
                  <input class="form-control" id="name" name="name" placeholder="Enter the skill name (Ex: Coding)" required>
                </fieldset><br>
                
                <fieldset>
                  <label  style="font-size:130%;">Skill Type:</label><br>
                  <input class="form-control" id="type" name="type" placeholder="Enter the skill type (Ex: java)" required>
                </fieldset><br>
            
                <button class="btn btn-warning" id="submit">Submit</button>
                <br>
                <p id="add-note"></p>
              </div>
            </div>
              
            </div>
            
            <!--ADD CERTIFICATE-->
            <div id="aCert" class="tab-pane fade" style="margin-top:1em">
            
              <div class="row row-cen">
              
              <!--Add skill form (submitted using ajax request)-->
              <div class="col-lg-6 col-cen">
                <legend>Add Certificate</legend>
                
                <fieldset style="color:blue">Note: The contents are case sensitive</fieldset><br>
                <fieldset>
                  <label style="font-size:130%;">Certificate name:</label><br>
                  <input id="add-cert-val" class="form-control" name="certificate" placeholder="Enter the Certificate name" required>
                </fieldset><br>
                
            
                <button class="btn btn-warning" id="add-cert-btn">Submit</button>
                <br>
                <p id="add-cert-note"></p>
              </div>
            </div>
              
            </div>
            
            
            <!--ADD CLIENT-->
            <div id="aCli" class="tab-pane fade" style="margin-top:1em">
            
              <div class="row row-cen">
              
              <!--Add skill form (submitted using ajax request)-->
              <div class="col-lg-6 col-cen">
                <legend>Add Client</legend>
                
                <fieldset style="color:blue">Note: The contents are case sensitive</fieldset><br>
                <form method="post" action="/admin/addClient">
                <fieldset>
                  <label style="font-size:130%;">Client name:</label><br>
                  <input id="add-client-val" class="form-control"name="client" placeholder="Enter the Client name" required>
                </fieldset><br>
                
            
                <button id="add-client-btn" class="btn btn-warning">Submit</button>
                  </form>
                <br>
                <p id="add-client-note"></p>
              </div>
            </div>
              
            </div>
            
              </div>
            </div>
            </div>
          </div>  
          <!--/ADD TAB-->
          
          
          <!--DELETE TAB-->
          
          <div id="delete" class="tab-pane fade">
            
            <div class="row">
            <div class="col-lg-3" style="background:#2b5b6e;height:100vh">
                <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a data-toggle="tab" href="#dS" class="white">Delete Skill</a></li>
                  <li><a data-toggle="tab" href="#dCert" class="white">Delete Certificate</a></li>
                  <li><a data-toggle="tab" href="#dCli" class="white">Delete Client</a></li>
                </ul>
              </div> 
              
              <div class="col-lg-9">
                
                <div class="tab-content">
                  
                  <!--DELETE SKILL-->
                  <div id="dS" class="tab-pane fade in active" style="margin-top:1em">
                    
                    <!--Table for the list of skills-->
                    <table class="table table-striped">
                      <thead>
                        <tr>  
                          <th style="font-size:115%">Role</th>
                          <th style="font-size:115%">Skill</th>
                          <th style="font-size:115%">Type</th>
                          <th style="font-size:115%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(i=0;i<skills.length;i++) { %>
                        <% for(j=0;j<skills[i].name.length;j++) { %>
                        <% for(k=0;k<skills[i].name[j].skillType.length;k++) { %>
                        <tr>
                          <td><%=skills[i].role%></td>
                          <td><%=skills[i].name[j].skillName%></td>
                          <td><%=skills[i].name[j].skillType[k]%></td>
                          <td><a class="btn btn-danger delete-skill" data-id="<%=skills[i]._id%>" data-role="<%=skills[i].role%>" data-name="<%=skills[i].name[j].skillName%>" data-type="<%=skills[i].name[j].skillType[k]%>">Delete</a></td>
                        </tr>
                        <% } %>  
                        <% } %>
                        <% } %>
                      </tbody>
                    </table>
                    
                    <!--Batch panel-->
                    <div class="container-fluid col-lg-6">
                      <div class="panel panel-primary">
                        <div class="panel-body">
                          <span style="font-size:110%">Instead delete skills in a batch</span>&emsp;
                          <button data-toggle="modal" data-target="#modal-select-skills" data-backdrop="static" class="btn btn-primary">Select</button>
                        </div>
                      </div>
                    </div>
                    
                    <!--Modal for selecting skill-->
                    <div class="modal fade" id="modal-select-skills" role="dialog" style="margin-top:2em;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header" style="background:red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color:white;">Select Skills to delete</h4>
                          </div>
                          <form action="/admin/deleteSkillsBatch" method="post">
                          <div class="modal-body">
                            
                            <table class="table table-striped">
                              <thead>
                                <tr>  
                                  <th style="font-size:115%"></th>
                                  <th style="font-size:115%">Role</th>
                                  <th style="font-size:115%">Skill</th>
                                  <th style="font-size:115%">Type</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for(i=0;i<skills.length;i++) { %>
                                <% for(j=0;j<skills[i].name.length;j++) { %>
                                <% for(k=0;k<skills[i].name[j].skillType.length;k++) { %>
                                <tr>
                                  <td><input type="checkbox" name="skills" value="<%=skills[i]._id%>,<%=skills[i].name[j].skillName%>,<%=skills[i].name[j].skillType[k]%>"></td>
                                  <td><%=skills[i].role%></td>
                                  <td><%=skills[i].name[j].skillName%></td>
                                  <td><%=skills[i].name[j].skillType[k]%></td>
                                </tr>
                                <% } %>  
                                <% } %>
                                <% } %>
                              </tbody>
                            </table>
                            
                            
                          </div>
                          <div class="modal-footer">
                            <span id="modal-select-skill-note" style="color:red;"></span>
                            <button id="modal-select-skill-btn" type="submit" value="submit" class="btn btn-danger">Confirm Delete</button>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <script>
                    $(document).ready(function(){
                      $("#modal-select-skill-btn").click(function(){
                        $("#modal-select-skill-note").html("Deleting &emsp;");
                      });
                    });
                    </script>
                    
                    <!--/Modal for selecting skill-->

                    <!--Modal for deleting skill-->
                    <div class="modal fade" id="delete-skill-modal" role="dialog" style="margin-top:5em;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header" style="background:red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color:white;">Do you really want delete this?</h4>
                          </div>
                          <div class="modal-body modal-body-skill">
                            <p>Loading</p>
                          </div>
                          <div class="modal-footer">
                            <span id="modal-note" style="color:red;"></span>
                            <button id="modal-delete-btn" data-request="" type="button" class="btn btn-danger">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--/Modal for deleting skill-->
                  </div>
                  
                  
                  <!--DELETE CRETIFICATE-->
                  <div class="tab-pane fade" id="dCert" style="margin-top:1em">
                    
                    <!--Table for the list of certificates-->
                    <table class="table table-striped">
                      <thead>
                        <tr>  
                          <th style="font-size:115%;text-align:center">Certificate Name</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(certificates) { for(i=0;i<certificates.data.length;i++) { %>
                        <tr>
                          <td style="text-align:center"><%=certificates.data[i]%></td>
                          <td><a class="btn btn-danger delete-cert" data-certificate="<%=certificates.data[i]%>">Delete</a></td>
                        </tr>
                        <% }  }%>
                      </tbody>
                    </table>
                    
                    <!--Batch panel-->
                    <div class="container-fluid col-lg-7">
                      <div class="panel panel-primary">
                        <div class="panel-body">
                          <span style="font-size:110%">Instead delete certificates in a batch</span>&emsp;
                          <button data-toggle="modal" data-target="#modal-select-certificates" data-backdrop="static" class="btn btn-primary">Select</button>
                        </div>
                      </div>
                    </div>
                    
                    <!--Modal for selecting certificates-->
                    <div class="modal fade" id="modal-select-certificates" role="dialog" style="margin-top:2em;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header" style="background:red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color:white;">Select Certificates to delete</h4>
                          </div>
                          <form action="/admin/deleteCertificatesBatch" method="post">
                          <div class="modal-body">
                            
                            <table class="table table-striped">
                              <thead>
                                <tr> 
                                  <th></th>
                                  <th style="font-size:115%;">Certificate Name</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% if(certificates) { for(i=0;i<certificates.data.length;i++) { %>
                                <tr>
                                  <td><input type="checkbox" name="certificates" value="<%=certificates.data[i]%>"></td>
                                  <td><%=certificates.data[i]%></td>
                                </tr>
                                <% } } %>
                              </tbody>
                            </table>
                            
                            
                          </div>
                          <div class="modal-footer">
                            <span id="modal-select-cert-note" style="color:red;"></span>
                            <button id="modal-select-cert-btn" type="submit" value="submit" class="btn btn-danger">Confirm Delete</button>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <script>
                    $(document).ready(function(){
                      $("#modal-select-cert-btn").click(function(){
                        $("#modal-select-cert-note").html("Deleting &emsp;");
                      });
                    });
                    </script>
                    <!--/Modal for selecting certificates-->
                    
                    <!--Modal for deleting certificates-->
                    <div class="modal fade" id="delete-cert-modal" role="dialog" style="margin-top:5em;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header" style="background:red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color:white;">Do you really want delete this?</h4>
                          </div>
                          <div class="modal-body modal-body-cert">
                            <p>Loading</p>
                          </div>
                          <div class="modal-footer">
                            <span id="modal-cert-note" style="color:red;"></span>
                            <button id="modal-delete-cert-btn" data-request="" type="button" class="btn btn-danger">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--/Modal for deleting certificates-->
                    
                  </div>
                  
                  <!--DELETE CLIENT-->
                  <div class="tab-pane fade" id="dCli" style="margin-top:1em">
                  
                    <!--Table for the list of clients-->
                    <table class="table table-striped">
                      <thead>
                        <tr>  
                          <th style="font-size:115%;text-align:center">Client Name</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(clients) { for(i=0;i<clients.data.length;i++) { %>
                        <tr>
                          <td style="text-align:center"><%=clients.data[i]%></td>
                          <td><a class="btn btn-danger delete-cli" data-client="<%=clients.data[i]%>">Delete</a></td>
                        </tr>
                        <% } } %>
                      </tbody>
                    </table>
                    
                    <!--Batch panel-->
                    <div class="container-fluid col-lg-7">
                      <div class="panel panel-primary">
                        <div class="panel-body">
                          <span style="font-size:110%">Instead delete clients in a batch</span>&emsp;
                          <button data-toggle="modal" data-target="#modal-select-clients" data-backdrop="static" class="btn btn-primary">Select</button>
                        </div>
                      </div>
                    </div>
                    
                    <!--Modal for selecting clients-->
                    <div class="modal fade" id="modal-select-clients" role="dialog" style="margin-top:2em;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header" style="background:red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color:white;">Select Clients to delete</h4>
                          </div>
                          <form action="/admin/deleteClientsBatch" method="post">
                          <div class="modal-body">
                            
                            <table class="table table-striped">
                              <thead>
                                <tr> 
                                  <th></th>
                                  <th style="font-size:115%;">Client Name</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% if(clients) { for(i=0;i<clients.data.length;i++) { %>
                                <tr>
                                  <td><input type="checkbox" name="clients" value="<%=clients.data[i]%>"></td>
                                  <td><%=clients.data[i]%></td>
                                </tr>
                                <% } } %>
                              </tbody>
                            </table>
                            
                            
                          </div>
                          <div class="modal-footer">
                            <span id="modal-select-cli-note" style="color:red;"></span>
                            <button id="modal-select-cli-btn" type="submit" value="submit" class="btn btn-danger">Confirm Delete</button>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <script>
                    $(document).ready(function(){
                      $("#modal-select-cli-btn").click(function(){
                        $("#modal-select-cli-note").html("Deleting &emsp;");
                      });
                    });
                    </script>
                    <!--/Modal for selecting clients-->
                    
                    <!--Modal for deleting clients-->
                    <div class="modal fade" id="delete-cli-modal" role="dialog" style="margin-top:5em;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header" style="background:red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color:white;">Do you really want delete this?</h4>
                          </div>
                          <div class="modal-body modal-body-cli">
                            <p>Loading</p>
                          </div>
                          <div class="modal-footer">
                            <span id="modal-cli-note" style="color:red;"></span>
                            <button id="modal-delete-cli-btn" data-request="" type="button" class="btn btn-danger">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--/Modal for deleting clients-->
                  
                  </div>
                
                </div>
              
              </div>
              
            </div>
            
            
          </div>  
          <!--/DELETE TAB-->
          
          <!--ASSICIATE EMPLOYEE TAB-->
          <div id="associate" class="tab-pane fade" style="margin-top:1em">
            
            <!--Table for the list of employees and their manager-->
            <table class="table table-striped">
              <thead>
                <tr>  
                  <th style="font-size:115%">Employee</th>
                  <th style="font-size:115%">Manager</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% for(i=0;i<users.length;i++) { %>
                <tr>
                  <td><%=users[i].name%> (<%=users[i].email%>)</td>
                  <% pos=mId.indexOf(users[i].connectedTo[0]);%>
                  <% if(pos!=-1) { %>
                  <td><%=mUser[pos].name%> (<%=mUser[pos].email%>)</td>
                  <%} else {%>
                  <td style="color:red">Not associated</td>
                  <% } %>
                  <td id="<%=users[i]._id%>"><button class="btn btn-info change-asso" data-userid="<%=users[i]._id%>">Change Association</button></td>
                </tr>
                <% } %>
              </tbody>
            </table>
            
            <div class="container-fluid">
              <div class="panel panel-primary">
                <div class="panel-body">
                  <span style="font-size:110%">Instead upload a .csv file to change association/add new users in a batch</span>&emsp;
                  <button data-toggle="modal" data-target="#modal-csv" data-backdrop="static" class="btn btn-primary">Upload file</button>
                </div>
              </div>
            </div>
            
            <!--Modal to upload file-->
            
            <div class="modal fade" id="modal-csv" role="dialog" style="margin-top:5em;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload file</h4>
                  </div>
                  <form action="/admin/changeAssociationFile" method="post" enctype="multipart/form-data">
                  <div class="modal-body">
                    
                    <p style="color:red">Note: The file should not contain any headers</p>
                    <input class="btn btn-default" type="file" accept=".csv" id="file" name="associationFile" placeholder="Choose the file location..">
                    <br>
                    <a href="/admin/exampleCSV">Download</a> this file for an example of the format of data to be uploaded
                    
                  </div>
                  <div class="modal-footer">
                    <span id="upload-file-note" style="color:blue"></span>&emsp;
                    <button type="submit" value="submit" id="fileUpload" class="btn btn-primary" accept=".csv">Upload</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
            <script>
            $(document).click(function(){
              $("#fileUpload").click(function(){
                $("#upload-file-note").html("Please wait. This might take few seconds/minutes depending on the file size")
              });
            });
            </script>
            
            <!--Modal to upload file-->
            
            <div id="manager-list-dd" style="display:none"><% for(i=0;i<mUser.length;i++) { %><option value="<%=mIdRaw[i]%>"><%=mUser[i].name%></option><% } %></div>
            
            
          </div>  
          <!--/ASSOCIATE EMPLOYEE TAB-->
          
          <!--DISASSOCIATE EMPLOYEE TAB-->
          <div id="disassociate" class="tab-pane fade" style="margin-top:1em">
            
            <!--Table for the list of employees with their managers-->
            <table class="table table-striped">
              <thead>
                <tr>  
                  <th style="font-size:115%">Employee</th>
                  <th style="font-size:115%">Manager</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% for(i=0;i<users.length;i++) { %>
                <tr>
                  <td><%=users[i].name%> (<%=users[i].email%>)</td>
                  <% pos=mId.indexOf(users[i].connectedTo[0]);%>
                  <% if(pos!=-1){ %>
                  <td><%=mUser[pos].name%> (<%=mUser[pos].email%>)</td>
                  <%} else {%>
                  <td style="color:red">Not associated</td>
                  <% } %>
                  <td><button class="btn btn-danger disassociate" data-name="<%=users[i].name%>"  data-userid="<%=users[i]._id%>">Disassociate</button></td>
                </tr>
                <% } %>
              </tbody>
            </table>
            
            <!--Modal for disassociating-->
            <div class="modal fade" id="disassociate-modal" role="dialog" style="margin-top:5em;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header" style="background:red">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title modal-title-disasso" style="color:white;">Do you really want to disassociate?</h4>
                  </div>
                  <div class="modal-body modal-body-disassociate" style="color:green;">
                    <p><b>Note: </b>You can associate with another manager later</p>
                  </div>
                  <div class="modal-footer">
                    <span id="modal-note" style="color:red;"></span>
                    <button id="modal-disassociate-btn" data-request="" class="btn btn-danger">Disassociate</button>
                  </div>
                </div>
              </div>
            </div>
            <!--/Modal for disassociating-->
            
          </div>
          <!--/DISASSOCIATE EMPLOYEE TAB-->
          
          
          <!--ADD/REMOVE USERS-->
          <div id="users" class="tab-pane fade">
          
            <div class="row">
              <div class="col-lg-3" style="background:#2b5b6e;height:100vh;">
                <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a data-toggle="tab" href="#E" class="white">Add Employee</a></li>
                  <li><a data-toggle="tab" href="#M" class="white">Add Manager</a></li>
                  <li><a data-toggle="tab" href="#rE" class="white">Remove Employee</a></li>
                  <li><a data-toggle="tab" href="#rM" class="white">Remove Manager</a></li>
                </ul>
              </div>  
            
              <div class="col-lg-9" style="text-align:center;">
              
                <div class="tab-content">
                
                  <!--ADD EMPLOYEE-->
                  <div id="E" class="tab-pane fade in active" style="margin-top:1em">
                    <div class="row row-cen">
                      <div class="col-lg-6 col-cen">
                        <legend style="font-size:150%;">Add Employee</legend>
                        <fieldset>
                          <label style="font-size:120%;">Name:</label><br>
                          <input class="form-control" id="eName" type="text" placeholder="Enter the Full name" required>
                        </fieldset><br>
                  
                        <fieldset>
                          <label style="font-size:120%;">email:</label><br>
                          <input class="form-control" id="eemail" type="text" placeholder="Enter the email" required>
                        </fieldset><br>
                  
                        <fieldset>
                          <label style="font-size:120%;">Manager</label><br>
                          <select id="eManager" class="btn btn-default manager-list-val">
                            <option value="select">Select Manager</option>
                            <% for(i=0;i<mUser.length;i++) { %>
                            <option value="<%=mIdRaw[i]%>"><%=mUser[i].name%></option>
                            <% } %>
                          </select>
                        </fieldset><br>
                  
                        <button id="addEmployee" class="btn btn-primary">Add</button>
                  
                      </div>
                    </div>
                  </div>
                  <!--/ADD EMPLOYEE-->
                
                
                  <!--/ADD MANAGER-->
                  <div id="M" class="tab-pane fade" style="margin-top:1em">
                    <div class="row row-cen">
                      <div class="col-lg-6 col-cen">
                        <legend style="font-size:150%">Add Manager</legend>
                        <fieldset>
                          <label style="font-size:120%">Name:</label><br>
                          <input class="form-control" id="mName" type="text" placeholder="Enter the Full name" required>
                        </fieldset><br>
                  
                        <fieldset>
                          <label style="font-size:120%">email:</label><br>
                          <input class="form-control" id="memail" type="text" placeholder="Enter the email" required>
                        </fieldset><br>
                  
                        <button id="addManager" class="btn btn-primary">Add</button>
                  
                      </div>
                    </div>
                  
                  </div>
                  <!--ADD MANAGER-->
                
                  <!--REMOVE EMPLOYEE-->
                  <div id="rE" class="tab-pane fade" style="margin-top:1em">
                    
                    <!--Table for the list of employees-->
                    <table class="table table-striped">
                      <thead>
                        <tr>  
                          <th style="text-align:center;font-size:115%">Employee</th>
                          <th>&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(i=0;i<users.length;i++) { %>
                        <tr>
                          <td><%=users[i].name%> (<%=users[i].email%>)</td>
                          <td><button class="btn btn-danger rem-emp" data-name="<%=users[i].name%>" data-userid="<%=users[i]._id%>">Remove</button></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  
                  
                    <!--Modal for removing employee-->
                    <div class="modal fade" id="remove-employee-modal" role="dialog" style="margin-top:5em;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header" style="background:red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title modal-title-rem-emp" style="color:white;">Do you really want to remove?</h4>
                          </div>
                          <div class="modal-body modal-body-rem-emp" style="color:green;">
                            <p><b>Note: </b>You can add this employee again later but all the previous data will be lost</p>
                          </div>
                          <div class="modal-footer">
                            <span id="modal-note" style="color:red;"></span>
                            <button id="modal-rem-emp-btn" data-request="" class="btn btn-danger">Remove</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--/Modal for removing employee-->
                  </div>
                  <!--/REMOVE EMPLOYEE-->
                
                
                  <!--REMOVE MANAGER-->
                  <div id="rM" class="tab-pane fade" style="margin-top:1em">
                  
                    <!--Table for the list of managers-->
                    <table class="table table-striped">
                      <thead>
                        <tr>  
                          <th style="text-align:center;font-size:115%">Manager</th>
                          <th>&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(i=0;i<mUser.length;i++) { %>
                        <tr>
                          <td><%=mUser[i].name%> (<%=mUser[i].email%>)</td>
                          <td><button class="btn btn-danger rem-man" data-name="<%=mUser[i].name%>" data-userid="<%=mUser[i]._id%>">Remove</button></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  
                  
                    <!--Modal for removing manager-->
                    <div class="modal fade" id="remove-manager-modal" role="dialog" style="margin-top:5em;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header" style="background:red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title modal-title-rem-man" style="color:white;">Do you really want to remove?</h4>
                          </div>
                          <div class="modal-body modal-body-rem-man" style="color:green;">
                            <p><b>Note: </b>You can add this manager again later but all the previous data will be lost</p>
                          </div>
                          <div class="modal-footer">
                            <span id="modal-note" style="color:red;"></span>
                            <button id="modal-rem-man-btn" data-request="" class="btn btn-danger">Remove</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--/Modal for removing manager-->
                  </div>
                  <!--/REMOVE MANAGER-->
                </div>
              </div>  
            </div>
          
          </div>
          <!--/ ADD/REMOVE USERS-->
          
          
        </div>
      </div>
    </div>
    <script src="/js/jquery-admin.js" type="text/javascript"></script>
    
  </body>
</html>
