<!DOCTYPE html>
<html>
  <head>
    <title id="title">Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <link rel='stylesheet' href='/css/style.css'>
    <script src="/js/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.js" type="text/javascript"></script>
	<script src="/js/jquery-home.js" type="text/javascript"></script>
    <!--For timer--><script> var logoutPrefix = ""; </script>
	<script src="/js/timer.js" type="text/javascript"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" style="margin-bottom:0;" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <div class="collapse navbar-collapse" id="Navbar">
        <ul class="nav navbar-nav navbar-left">
          
          <li><a href="/" title="Home" style="font-size:160%;"><span class="glyphicon glyphicon-home"></span></a></li>
          
          <li><a class="g-user"><span class="glyphicon glyphicon-user"></span>&nbsp;<%=user.name%></a></li>
          
        </ul>
        <script>
          var emps=[];
          <%for(i=0 ; i<eUser.length ; i++){ %>
          <% if(eUser[i].skills.length || eUser[i].certificates.length || eUser[i].clients.length ){ %>
            emps.push({
              name:"<%=eUser[i].name%>".toUpperCase(),
              id:"<%=eUser[i]._id%>"
            });
          <% } %>
          <% } %>
        </script>
        
        <ul class="nav navbar-nav navbar-right" style="margin-right:0%">

          <li id="n"><a href="#"  style="padding-top:0.6em;color:#00ccff" data-trigger="focus" data-toggle="popover"  data-placement="bottom">
            <span class="glyphicon glyphicon-bell" style="font-size:190%;"></span>
            <span class="badge" style="font-size:85%;<%if(user.Updated) { %>background:red<%}%>">0</span>
          </a></li>
          
          <li><a href="/reports" style="font-weight:bold;"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Report</a></li>

          <li><a href="/logout" id="logout"  title="Logout" style="border-radius:1em"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a></li>
          
        </ul>
      </div>
    </nav>
    
    

    <!--Content for the notifications-->
    <div id="popover-content" class="hide">
      <table class="table table-hover">
        <tbody>
          <% var count = 0 ; for(i=user.Updates.length-1;i>=0;i--){ %>
          <tr>
            <td style="border:0;border-bottom:1px solid grey;<%if(!user.Updates[i].seen){%>color:#397993;font-weight:bold<% count++;} else {%>color:black;<%}%>">
              <span style="font-size:110%"><%=user.Updates[i].notify%></span><br><span  style="color:grey"><%=user.Updates[i].createdDate%></span>  
            </td>
          </tr>
          <% } %>
          <% if(!user.Updates.length){ %>
          <tr>
            <td style="color:black">None yet...</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    
    <script src="/js/jquery-seen.js" type="text/javascript"></script>

    <script>
    $(document).ready(function(){
      $(".badge").html("<%=count%>")
      $("[data-toggle=popover]").popover({
        html : true,
        content: function() {
          return $("#popover-content").html();
        },
        container: 'body',
        title: function() {;
          return "<b>Notifications</b>";
        }
      });
      if(<%=count%>){
        $("#title").html("(<%=count%>)Home");
      }
    });
    </script>

    
    <div class="row">
      
    <div class="col-lg-2"  style="background:#162f39;height:100vh">
      <!--List of choices on left side of the webpage-->
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <%for(i=0 ; i<eUser.length ; i++){ %>
        <% if(eUser[i].skills.length || eUser[i].certificates.length || eUser[i].clients.length ){ %>
        <li><a id="btn<%=eUser[i]._id%>" data-employee="<%=eUser[i]._id%>" data-toggle="tab" href="#tab<%=eUser[i]._id%>" class="see-employee"><%=eUser[i].name%></a></li>
        <% } %>
        <% } %>
      </ul>  
    </div>
      
      <div class="col-lg-10">
        
        <div class="tab-content">
        
          <div class="tab-pane fade in active" id="home">
            <h1 style="font-weight:bold;font-size:4em;text-align:center">Welcome <%=user.name%>!</h1><br>
            <div class="col-lg-8">
              <h4>Search Employee:</h4>
              <input id="search-bar" class="form-control" style="border:0;border-bottom:2px solid grey;" placeholder="Start typing employee name here"><br>
              <div id="search-result" style="margin-top:0.5em">
              </div>
            </div>
          </div>
          
          
          <%for(i=0 ; i<eUser.length ; i++){ %>
          <% if(eUser[i].skills.length || eUser[i].certificates.length || eUser[i].clients.length ){ %>
          <div class="tab-pane fade" id="tab<%=eUser[i]._id%>">
            <div class="row row-cen">
              <div class="col-lg-12 col-cen" style="text-align:left">
                <div class="container-fluid">
                  <span class="m-employee-name"><b><%=eUser[i].name%></b></span>
                  <div id="<%=eUser[i]._id%>" class="employee-skills panel-body"></div>
                </div>
                <br><br> 
              </div>
            </div>
          </div>
          <% } %>
          <% } %>

        </div>
      
      </div>
      
      
    </div>

    <script src="/js/jquery-manager.js" type="text/javascript"></script>
    
    <div class="hide" id="experience-options"><% for(i=0;i<=15;i++) { %><option value="<%=i%>"><%=i%></option><% } %></div>
    
  </body>
</html>
